mixin postInfo(item)
    .post-info
        != full_date(item.date, config.date_format)
        |
        |
        each tag in item.tags.data
            a.tag(href=relative_url(url, tag.permalink), title=tag.name)
                |
                |
                span.tag-prefix
                    != '#'
                = tag.name

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href=url_for(item.path))
                            +postTitle(item.title)
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href=url_for(item.path))
                        != __('read_more')
        - })

//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                +postTitle(item.title)
            +postInfo(item)
            .post-content
                != item.content