mixin tags()
    div.home.tags-list
        p
            != __('tags') + ': '
        ul
            each tag in site.tags.data
                li
                    a(href=relative_url(url, tag.permalink), title=tag.name)
                        |
                        |
                        span.tag-prefix
                            != '#'
                        != tag.name

mixin tag()
    p.tag.current
        != __('posts_tagged') + ' '
        span.tag-prefix
            != '#'
        != page.tag
