extends partial/layout.pug

block site_title
    != page.title + ' • ' + config.title

block container
    include mixins/post.pug
    div(class='post', data-comments-enabled=page.comments ? 1 : 0)
        article.post-block
            h1.post-title
                +postTitle(page.title)
            .post-content
                != page.content

    include partial/to-top.pug