.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]
        br
        | Powered by #[a(href='https://hexo.io/', rel='noreferrer', target='_blank') Hexo]
        br
        | Design inspired by #[a(href='https://github.com/tiaanduplessis/hexo-theme-brewski', rel='noreferrer', target='_blank') Brewski]
        br
        | Sources of this blog on  #[a(href='https://github.com/iliayatsenko/iliayatsenko.github.io', rel='noreferrer', target='_blank') Github]