.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightName = theme.copyright.name || config.author
    p &copy; #{copyrightYear} #{copyrightName}
        br
        | Powered by #[a(href='https://hexo.io/', rel='noreferrer', target='_blank') Hexo] and #[a(href='https://mailchimp.com/', rel='noreferrer', target='_blank') Mailchimp]
        br
        | Design inspired by #[a(href='https://github.com/tiaanduplessis/hexo-theme-brewski', rel='noreferrer', target='_blank') Brewski]
        br
        | Sources of this blog on  #[a(href='https://github.com/iliayatsenko/iliayatsenko.github.io', rel='noreferrer', target='_blank') Github]