doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                h1.branding
                    a(href=url_for(''), title=config.title)
                        img.logo-image(src=url_for(theme.logo), alt='logo')
                        = config.title
                include nav.pug

            #barba-wrapper
                .barba-container
                    main.container
                        block container

            block comments
                .giscus#comments

            footer
                include copyright.pug

        include scripts.pug
