<form action="https://ukr.us9.list-manage.com/subscribe/post?u=4eaba9dc5a42efd715b52b8f3&amp;id=5b775e6662&amp;f_id=00b71be1f0"
      id="mce-subscription-form"
      method="post"
>
    <label for="mce-EMAIL">Subscribe to be notified about new posts:</label>
    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Email">
    <input type="hidden" name="tags" value="12989196">
    <input type="text" name="b_4eaba9dc5a42efd715b52b8f3_5b775e6662" value="" style="display: none">
    <input type="submit" name="subscribe" value="Subscribe">
</form>
